@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&family=Xanh+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: sans-pro, sans-serif;
    font-weight: 200;
    color: #fff;
    background-color: #afb8bd;
    
    
    
    
}

.header-menu{
    width: 100%;
    height: 120px;
    background-color: slategray;
    
    
}


/* headings */

h2{
    font-family: Xanh Mono, sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 250%;
}

h3{
    font-family: Xanh Mono, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

/*header logo */
#logo{
    float: left;
    max-width: 40%;
    height: 120px;
   margin-left: 10px;
}

/*navagation links */


#nav-links li{
    text-align: center;
    float: right;
    margin-right: 50px;
    list-style: none;
    font-size: 125%;

}

#logo, #nav-links {
    line-height: 75px;
}

#nav-links a{
    text-decoration: none;
    color: #fff;

}

#nav-links a:hover {
    color: black;
}

.active-page{
    border-bottom: 1px solid;
    color: inherit;
}

/* head images */

.head-img{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.home{
    background: url("../images/whiskey-glass.jpg") no-repeat center center;
}

.products{
    background: url("../images/The-Macallan-Horizon-1.webp") no-repeat center center;
    
}

.contact-us{
    background: url("../images/contact-us.jpeg") no-repeat center center;
    margin: 0 auto;
}

.product-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

/* home cover text */

.home-cover-text{
    width: 27%;
    height:auto;
    position: relative;
    float: left;
    background-color:slategray;
    opacity: 0.6;
    margin-top: 250px;
    margin-left: 90px;
}


/* best seller images and text */
.best-seller{
    width: 100%;
    height: 400px;
}
#best-seller-img {
    width: 25%;
    height: 350px;
    float: left;
    margin-left: 5%;
}

.best-seller p {
    font-family: inherit;
    font-weight: 200;
    width: 50%;
    padding-top: 100px;
    float: left;
    margin-left: 5%;
}


/* clients */

#clients-outer{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: inherit;
}

#clients-top{
    width: 100%;
}

#clients-bottom{
    width: 100%;
    padding-top: 50px;
}

.clients-images{
    width: 33%;
    height: 150px;
    padding: 20px 50px 20px 50px;
}

.left-side{
    width: 30%;
    height: 150px;
    float: left;
}

.right-side{
    width: 30%;
    height: 150px;
    float: right;
    
}

.center-about{
    width: 30%;
    height: 150px;
    margin: 0 auto;
}

/* meet */
#meet{
    width: 100%;
    height: 600px;
    margin-top: 10%;
}

#outer-meet {
  width: 100%;
  height: 300px;
  padding-top: 100px;
  margin: 0;
    
}

#meet-text {
   margin: 0 auto;
    
}

.meet-pic{
    width: 50%;
    height: 250px;
    margin-left: 25%;
    margin-top: 5%;
}


#meet-circle {
    width: 30%;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: right;
}

#meet-text p {
    padding-left: 400px;
}


/* footer */



footer, #outer-footer{
    width: 100%;
    height: 150px;
    background-color: slategray;
    
}

#footer-img, #social-links, #info, #newsletter {
    width: 25%;
    height: 120px;
    float: left;
}

#newsletter input {
    border: 1px solid #000;
    
}

#newsletter h3 {
    font-family: Xanh Mono, sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-size: 100%;
    color: #000;
}

/* our story */
.our-story-img{
    width: 100%;
    height: 500px;
    
}

#our-story-p{
    width: 70%;
    margin: 0 auto;
}
.story-outter{
    width: 100%;
    height: 400px;
     overflow: hidden;
     position: relative;
}

#story-image {
    background: url("../images/bottles.jpeg") no-repeat center center;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#story-cover-text{
    font-size: 100%;
    font-family: inherit;
    letter-spacing: 2px;
    margin-top: 50px;
    width: 450px;
    height: 220px;

    
    background-color: slategray;
    opacity: .8;
    padding-top: 30px;
    padding-left: 20px;
    bottom: 10px;
    right: 120px;
    position: absolute;
    
}

/* products */

.product-images{
    width: 20%;
    height: 300px;
    
    
}

.product-text{
    width: 70%;
    height: 200px;
    float: right;
    margin-right: 50px;
    padding-top: 100px;
}

/*contact form */

.contact-cover-text{
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    background-color: slategray;
    opacity: .6;
}

.col-left, .col-2{
    width: 50%;
    height: 600px;
    margin-top: 50px;
    margin-left: 25%;
    border: 2px solid slategray;
}

.col-2{
    font-family: inherit;
    text-align: center;
}

.address-heading{
    margin-top: 30px;
    font-size: 150%;
}

.address{
    padding-top: 30px;
}

.address-line{
    margin-top: 30px;
}





input, label{
    display: block;
}

.row-1, .row-2, .row-3, .row-4, .row-5{
    padding: 25px 75px 25px 75px;
}



.contact-input-box{ 
    border: 2px solid slategray;
    height: 30px;
    width: 41%;
    
}

.comment-box{
    height: 170px;
    width: 100%;
}

.submit{
    background-color: red;
    color: white;
    
}

.contact-times{
    margin: 0 auto;
    margin-top: 30px;
}

/*map */

#map-wrapper~{
    border: 2px solid slategray;
}

/* max width 1200 */

@media screen and (max-width: 1200px){

.best-seller{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

#best-seller-img{
    width: 30%;
    height: 300px;
    
}


}