@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&family=Xanh+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: sans-pro, sans-serif;
    font-weight: 200;
    color: #fff;
}

#logo{
    float: left;
    max-width: 40%;
    height: 120px;
    
}