@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&family=Xanh+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: sans-pro, sans-serif;
    font-weight: 200;
    color: #000;
    
}

/* headings */

h2{
    font-family: Xanh Mono, sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: slategray;
    text-align: center;
    padding-top: 20px;
    font-size: 250%;
}


/*header logo */
#logo{
    float: left;
    max-width: 40%;
    height: 120px;
}

/*navagation links */


#nav-links li{
    float: right;
    margin-right: 40px;
    list-style: none;
    font-size: 125%;

}

#logo, #nav-links {
    line-height: 75px;
}

#nav-links a{
    text-decoration: none;
    color: black;

}

#nav-links a:hover {
    color: slategray;
}

.active-page{
    border-bottom: 1px solid;
    color: inherit;
}

/* head image for slider */

#head-img{
    background: url("../images/whiskey-glass.jpg") no-repeat center center;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

/* best seller images and text */

#best-seller-img {
    float: left;
    height: 300px;
    width: 25%;
}

.best-seller p{
    float: left;
    font-family: inherit;
}